/**
* General setup for layout.
*/
html {
    overflow-y: scroll;
    background-color: #495c70;
}

body {
    margin: 0;
    background-color: #fff;
    word-wrap: break-word;
}

.outer-wrap {
    margin: 0 auto;
    background-color: #fff;
}

.inner-wrap {
    margin: 0 auto;
    max-width: 680px;
    padding: 0 0.5em;
    background-color: #fff;
}



/**
 * Header
 */
.outer-wrap-header {
    max-width: 100%;
    min-height: 3em;
    background-color: #495c70;
    color: #fff;
}

.outer-wrap-header {
    position: relative;
}

.inner-wrap-header {
    max-width: 100%;
    background-color: #495c70;
}

.header-logo {
    position: absolute;
    left: 18em;
    height: 50px;
}



/**
 * Navbar
 */
.outer-wrap-navbar {
    padding: 0.5em;
    background-color: #495c70;
    border-bottom: 1px solid;
}

.outer-wrap-navbar a {
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #495c70;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
    color: #fff;
    background-color: #576e86;
}

.outer-wrap-navbar a:hover {
    background-color: #394d61;
    text-decoration: underline;
}

.inner-wrap-navbar {
    background-color: #495c70;
}

.wrap-navbar {
    width: 760px;
}

/**
 * Main
 */
.outer-wrap-main {
    min-height: 20em;
    margin-bottom: 2em;
    background-color: #fff;
}

.wrap-main h1 {
    border-bottom: 1px solid #999;
}

.wrap-main h2 {
    border-bottom: 1px solid #ccc;
}



/**
 * Footer
 */
.outer-wrap-footer {
    max-width: 100%;
    min-height: 5em;
    background-color: #495c70;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    font-size: 20px;
}

.inner-wrap-footer {
    background-color: #495c70;
}

.inner-wrap-footer a {
    color: #fff;
}

/* Bilder */
.right {
    float: right;
    height: 200px;
}

/* redovisning */
.nav-redovisning {
    background-color: #495c70;
}

.nav-redovisning ul {
    list-style: none;
}

.nav-redovisning li {
    display: inline-block;
}

.nav-redovisning a {
    display: inline-block;
    padding: 0.5em;
    border: 1px solid #495c70;
    text-decoration: none;
    font-size: 15px;
    text-align: left;
    color: #fff;
    background-color: #576e86;
}

.nav-redovisning a:hover {
    background-color: #394d61;
    text-decoration: underline;
}


/**
* Tärningsspel
*/

.dice-sprite {
    display: inline-block;
    padding: 0;
    margin: 0 4px 0 0;
    width: 32px;
    height: 32px;
    background: url(../img/dice-faces.jpg) no-repeat;
}

.dice-sprite.dice-1 { background-position: -160px 0; }
.dice-sprite.dice-2 { background-position: -128px 0; }
.dice-sprite.dice-3 { background-position: -96px 0; }
.dice-sprite.dice-4 { background-position: -64px 0; }
.dice-sprite.dice-5 { background-position: -32px 0; }
.dice-sprite.dice-6 { background-position: 0 0; }

.player {
    border: solid;
    border-width: thin;
    float: left;
    background: #495c70;
    color: #fff;
}

.computer {
    border: solid;
    border-width: thin;
    float: right;
    background: #495c70;
    color: #fff;
}

.game {
    margin-top: 180px;
}

.title {
    text-align: center;
    font-size: 22px;
}

.diceForm input[type=submit],
.diceForm input[type=button] {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    color: #fff;
}

.diceForm input[type=submit],
.diceForm input[type=button] {
    background: #576e86;
    border: none;
    border-radius: 5px;
    color: #a8bace;
}

.diceForm input[type=submit]:hover,
.diceForm input[type=button]:hover {
    background: #394d61;
}

#compRoll {
    background: #e60000;
    color: #000;
}

#compRoll:hover {
    background: #ff4d4d;
}

.statistics {
    background: #495c70;
    color: #fff;
    padding-bottom: 10px;
}

.histogram {
    font-size: 20px;
    margin-top: -45px;
}


/**
 * Responsive
 */
@media screen and (max-width: 970px) {
    .header-logo {
        display: none;
    }
}
